.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  list-style-type: none;

  & > li {
    max-width: 100%;
    border-bottom: 1px solid lightblue;
    overflow-wrap: break-word;
  }
}
