.search {
  display: flex;
  gap: 1em;
  justify-content: flex-end;

  &__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    min-width: 10em;
    max-width: 20em;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #f8f8f8;
    outline: none;
  }

  &__button {
    background-color: rgb(65, 105, 225);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.5s linear;

    &:hover {
      background-color: rgb(115, 145, 245);
      transition: all 0.5s linear;
    }
  }
}
